
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <title>Member_1</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="nav_menu">
        <ul>
            <li><a href="Member">멤버관리</a></li>|
            <li><a href="Category">카테고리 관리</a></li>|
            <li><a href="Report">신고글 관리</a></li>|
            <li><a href="AdminSuggest">건의사항</a></li>|
            <li><a href="Index">홈</a></li>
        </ul>
    </div>
    <div>
        <table align="center">
            <tr>
                <td> ID : <input type="text" value="rlathfdl463" /></td>
                <td> EMAIL : <input type="text" value="rlathfdl463@naver.com" /></td>
                <td> PW : <input type="text" value="gotjs654" /></td>
                <td> 닉네임 : <input type="text" value="오로라민씨" /></td>
                <td> 탈퇴여부 : <button>탈퇴시키기</button></td>
                <td> 정지여부 : 3일정지</td>
            </tr>
        </table>
    </div>
    <br />
    <button type="button" class="btn" onclick="location.href='Member'">확인</button>
</body>
</html>
