tr,table,th,td{
    border:solid 1px;
}

body{
    position:center;
    text-align:center;
    align-items:center;
}
div{
   
}

th{
    background: lightgray;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu{
    background:lightgray;
    opacity:0.7;
    color:white;
    margin:10px;
    padding:5px;
}

a:visited {
    color: white;
}

    #nav_menu ul li {
        display: inline;
        margin:20px;
    }


